/* 第一屏 */

.a1 {
    background: url("../images/01/bg.png") no-repeat center bottom;
}

.a1 .ball {
    position: absolute;
    right: 50px;
    top: 100px;
    animation: ball 2s infinite;
}

.a1 .sofa {
    position: absolute;
    top: 280px;
    left: 50%;
    margin-left: -197px;
    animation: sofa 1s infinite;
}

.a1 .products {
    position: absolute;
    bottom: 200px;
    left: 50%;
    margin-left: -412px;
}

@keyframes ball {
    50% {
        transform: translate(0px, -50px);
    }
}

@keyframes sofa {
    50% {
        transform: translate(0px, -20px);
    }
}

/* 第二屏 */

.a2 {
    background: url("../images/02/bg.png") no-repeat center bottom;
}

.a2 .search01 {
    position: absolute;
    left: 50%;
    margin-left: 400px;
    bottom: 300px;
}

.a2 .search02 {
    position: absolute;
    left: 50%;
    margin-left: -111px;
    bottom: 300px;
    /* animation: search03 1s 1s; */
    display: none;
}

/* 测试代码 */

/* .a2 .search03{
    position: absolute;
    left: 50%;
    margin-left: 170px;
    bottom: 450px;
    width: 100px;
    height: 25px;
} */

/* 多个沙发做参考对齐 */

.a2 .box {
    position: absolute;
    bottom: 200px;
    left: 50%;
    margin-left: -280px;
    width: 560px;
    height: 240px;
    /* background-color: skyblue; */
}

.a2 .box .sofas {
    position: absolute;
    right: 60px;
    bottom: 10px;
    height: 0px;
}

/* 第三屏 */

.a3 {
    background: url("../images/03/bg.png") no-repeat center bottom;
}

.a3 .sofa {
    position: absolute;
    left: 50%;
    margin-left: -240px;
    bottom: 260px;
    width: 207px;
    height: 116px;
}

.a3 .color01 {
    position: absolute;
    left: 50%;
    margin-left: 40px;
    bottom: 166px;
    width: 296px;
    height: 131px;
    background: url("../images/03/color01.gif") no-repeat;
}

.a3.animation .color01 {
    transition: all 2s;
    background: url("../images/03/color02.gif") no-repeat;
}

.a3 .add01 {
    position: absolute;
    left: 50%;
    margin-left: 40px;
    bottom: 100px;
    width: 218px;
    height: 58px;
    background: url("../images/03/add01.gif") no-repeat;
}

.a3.animation .add01 {
    transition: all 2s;
    background: url("../images/03/add02.gif") no-repeat;
}

/* 第四屏 */

.a4 {
    background: url("../images/04/bg.png") no-repeat center bottom;
}

.a4 .carball {
    width: 407px;
    height: 346px;
    /* background-color: #ddd; */
    position: absolute;
    left: 50%;
    margin-left: -250px;
    bottom: 55px;
    /* opacity: 0.3; */
    /* animation: carRun 2s easeInElastic 0.5s; */
}

.a4 .carball .car {
    z-index: 1;
    width: 407px;
    height: 346px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.a4 .carball .sofa {
    position: absolute;
    top: -45px;
    left: 145px;
    width: 204px;
    height: 198px;
}

.a4 .address {
    position: absolute;
    background: url("../images/04/keyboard.png") no-repeat;
    width: 283px;
    height: 270px;
    position: absolute;
    left: 50%;
    margin-left: -190px;
    bottom: 200px;
    display: none;
    /* opacity: 0; */
}

.a4 .address .add {
    position: absolute;
    left: 56px;
    bottom: 162px;
}

.a4 .word {
    position: absolute;
    left: 50%;
    margin-left: -260px;
    bottom: 500px;
    width: 429px;
    height: 31px;
}

.a4 .cloud {
    position: absolute;
    left: 50%;
    margin-left: -441px;
    width: 882px;
    height: 120px;
    bottom: 600px;
    animation: cloud 8s infinite 1s;
}

@keyframes cloud {
    30% {
        transform: translate(200px, 0px);
    }
    80% {
        transform: translate(-200px, 0px);
    }
}

/* 第五屏 */

.a5 {
    background: url("../images/05/bg.png") no-repeat center bottom;
    overflow: hidden;
}

.a5 .card {
    position: absolute;
    left: 50%;
    margin-left: -450px;
    bottom: 250px;
    z-index: 1;
    perspective: 800px;
}

.a5 .bill {
    position: absolute;
    left: 50%;
    margin-left: -350px;
    bottom: 300px;
}

.a5 .mouse {
    position: absolute;
    width: 205px;
    height: 819px;
    background: url("../images/05/mouse01.png") no-repeat;
    left: 50%;
    margin-left: 150px;
    bottom: 350px;
}

.a5 .hand {
    position: absolute;
    left: 50%;
    margin-left: 125px;
    bottom: -10px;
}

.a5 .words {
    position: absolute;
    width: 541px;
    height: 0px;
    left: 50%;
    margin-left: -270px;
    bottom: 600px;
    transform-style: preserve-3d;
    transform: rotateY(0deg) scale(0);
}

.a5.animation .bill {
    transition: all 1s 1s;
    bottom: 470px;
}

.a5.animation .mouse {
    transition: all 1s 1s;
    background: url("../images/05/mouse02.png") no-repeat;
}

.a5.animation .hand {
    transition: all 0.5s;
    bottom: 100px;
}

.a5.animation .words {
    height: 56px;
    transition: all 1s 2s;
    transform: rotateY(-360deg) scale(1);
}

/* 第六屏 */

.a6 .street {
    width: 5000px;
    height: 600px;
    position: absolute;
    left: -200px;
    /* left: -1400px; */
    bottom: 0px;
    background: url("../images/06/bg.png") repeat-x;
    /* border: 2px solid #000; */
}

.a6 .door {
    position: absolute;
    left: 2110px;
    bottom: 116px;
    width: 106px;
    height: 150px;
    display: none;
}

.a6 .women {
    position: absolute;
    left: 2150px;
    bottom: 100px;
    /* width: 87px; */
    height: 120px;
    display: none;
}

.a6 .carball {
    position: absolute;
    left: 200px;
    bottom: 80px;
    width: 221px;
    height: 122px;
    /* border: 1px solid #000; */
}

.a6 .carball .car {
    width: 221px;
    height: 122px;
    position: absolute;
}

.a6 .carball .man {
    position: absolute;
    right: 0px;
    bottom: 20px;
    height: 120px;
    height: 30px;
}

.a6 .cloud {
    position: absolute;
    left: 50%;
    margin-left: -441px;
    width: 882px;
    height: 120px;
    bottom: 600px;
    animation: cloud 8s infinite 1s;
}

/* 第七屏 */

.a7 {
    background: url("../images/07/bg.png") no-repeat center bottom;
}

.a7 .star {
    position: absolute;
    left: 50%;
    margin-left: -297px;
    bottom: 442px;
    width: 0;
    height: 17px;
    background: url("../images/07/stars3.png") no-repeat;
}

.a7.animation .star {
    width: 105px;
    transition: all 5s steps(5);
}

.a7 .good {
    position: absolute;
    left: 50%;
    margin-left: -290px;
    bottom: 390px;
    opacity: 0;
}

.a7.animation .good {
    opacity: 1;
    transition: all 0.5s 5s;
}

/* 第八屏 */

.a8 {
    background: url("../images/08/bg.png");
}

.a8 .begin {
    position: absolute;
    width: 389px;
    height: 160px;
    background: url("../images/08/begin.png") no-repeat;
    left: 50%;
    margin-left: -200px;
    bottom: 390px;
}

.a8 .begin:hover {
    background: url("../images/08/begin.gif");
}

.a8 .hand {
    position: absolute;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    /* 指定在什么情况下，图形图片的鼠标事件 */
}
.a8 .again{
    position: absolute;
    right: 100px;
    bottom: 100px;
}